*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
body{
    width: 100%;
    height: 100vh;
   
}



#scroll-container{
    width:100%;
    height:25px;
    background-color: black;
    align-items: center;
}
#scroll-text {
    height: 100%;
    text-align: center;
    color: #fff;
    

}

.body
{
    display: flex;
    flex-direction: column;
    position:relative;
    

}
.navbar
{
    width:100%;
    height: 100px; 
     background-color:#fff;   
    display: flex;
    position:fixed;
    
    
    
   
    

}

 
  .headerleft
  {
  width:20%;
  height: 100px;
  background-color:#fff; 

display:flex;
flex-direction: column;
justify-content: space-around;
align-items: center;
color: black;

  }

.logo{
    width: 50%;
    height: 50%;
}
.logo >img{
    width:100%;
    height: 100%;
   
}

.gender
{
    cursor: pointer;
    font-size: small; 
    
}
.gender >a
{
    margin-left: 5px;
}
.gender a:hover
{    margin-left: 20px;
    font-size: larger;
}
.header_middle
{
    width: 55%;
    height: 90px;
    background-color:white; 
    padding-top: 10px;

}
.search-container {
    display: flex;
    max-width: 300px;
    margin: 0 auto;
     border: 1px solid #ccc; 
    border-radius: 4px;
    overflow: hidden;
    flex-direction: row-reverse;
    
}


.search-input {
    flex:1;
    padding: 8px;
    border: none;
    outline: none;
    
}
.search-icon {
    font-size: 16px;
    background-color: aliceblue;
    color: black;
}
.header_right
{
background-color: white; 
width:25%;
height: 100px;

display: flex;
justify-content: space-around;
align-items: center;
padding-bottom:  20 px;
}
.signin >a
{   color:black;
    cursor: pointer;
}


.heart >img 
{  width:15px;
    height: 15px;
    margin-left: 30px;

}
.bag >img 
{  width:15px;
    height: 15px

}

.hero_container
{
    width: 100%;
    height: 95vh;
 background-image: url("ckmedia/Desktop_Slash_Kid_Cudi.webp");
 background-size: cover;
 background-position: top;
 display: flex;
 align-items: center;
 justify-content: center;

}
.hero_container  >button
{
    background-color: white; 
    border: none;
    color: black;
    padding: 15px 32px; 
    text-align: center;
   
    display: inline-block;
    font-size: 18px;
    
    margin-left: 10px;
    margin-top: 80px;
}
.hero_container >button:hover
{
    background-color: black;
    color: #fff;
}

.hero2_text
{
    font-size: 12px;
    color: black;
    width:300px;
    align-self: left;
    
}

.hero3
{
    background-color:black;
    display:flex;
    color: #fff;
}
.hero3_text
{
    width:900px;
    padding-top:85px;
    padding-left: 85px;
}
.hero3_image >img
{
    width:680px;
    padding-top:35px;
    padding-bottom: 35px;
    padding-left: 0;
}
.hero3_offer
{
    font-size: 50px;
}
.hero3_text >input
{
    width:450px;
    height:50px;
    border-color: #fff;
    
    background-color: black;
    font-size: x-large;
}
.hero3_text >button
{
    width:100px;
    height: 50px;
}

.footer
{   padding-top: 30px;
    display: flex;
flex-direction: row;
justify-content: space-around;
}


li
{  list-style: none;
  font-size: smaller;
  color: gray;
  margin-top: 10px;
}

.footer h1
{
    font-size: small;
    margin-bottom: 10px;
    

}
li:hover
{
    font-size: small;
    text-decoration: underline;
}

.language
{   
    display: flex;
    flex-direction: column;
    
}


.language >select
{
    width:200px;
    height:50px;
    margin-bottom: 25px;
    
}
.language >input
{color: #ebe7df;
border-color: #ebe7df;
height:50px;
margin-bottom: 25px;
border-width: .1px;
}

.language >button
{
    height:45px;
    color:#fff;
    background-color: black;
    border-width: 0px;
}

.language >button:hover
{
   color:black;
   background-color: white;
}
.copyright
{
    color: gray;
    margin-left:25px ;
}